<div class="title_box"><h1>Inloggning</h1></div>
<div id="main_content">

<div class="text_box">
	<h2>Facebook/Twitter</h2>
	<p>Enklast är att logga in med ditt Facebook- eller Twitter-konto. Vi tar inte del av någon information utöver ditt namn och din email-adress. Facebook eller Twitter bekräftar din identitet utan att vi ser ditt lösenord. För ditt eget bästa, kör på detta alternativet!</p><br/>
    <p>Om du väljer Twitter-inloggning, glöm inte meddela din email-adress. Annars kan du missa viktig information.</p><br/>
<p><%= link_to "Logga in med Facebook", "/auth/facebook" %></p>
<p><%= link_to "Logga in med Twitter", "/auth/twitter" %></p>
</div>


<div class="text_box">
	<h2>FIFA-2014-konto</h2>
<p>Vi rekommenderar verkligen inloggning med Facebook/Twitter men i det fall att du är asocial kan du också skapa ett konto direkt hos oss och logga in med detta. (Notera att du loggar in med din email-adress som användarnamn.)</p><br/>

<div class="text_box_lvl2" style="float:left">
<h3>Skapa konto här...</h3>
<p><small>Obs! Skapa inget konto här om du vill använda FB!</small></p>
<%= form_tag "/auth/identity/register" do %>
  <% if @identity && @identity.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
      <% @identity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= label_tag :name, "Namn (för- och efternamn)" %><br>
    <%= text_field_tag :name, @identity.try(:name) %>
  </div>
  <div class="field">
    <%= label_tag :email, "E-mail" %><br>
    <%= text_field_tag :email, @identity.try(:email) %>
  </div>
  <div class="field">
    <%= label_tag :password, "Lösenord" %><br>
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= label_tag :password_confirmation, "Upprepa lösenord" %><br>
    <%= password_field_tag :password_confirmation %>
  </div>
  <div class="actions"><%= submit_tag "Skapa konto" %></div>
<% end %>
</div>

<div class="text_box_lvl2" style="float:left">
<h3>Logga in här...</h3>
<%= form_tag "/auth/identity/callback" do %>
  <div class="field">
    <%= label_tag :auth_key, "E-mail" %><br>
    <%= text_field_tag :auth_key %>
  </div>
  <div class="field">
    <%= label_tag :password, "Lösenord" %><br>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Logga in" %></div>
  <p><%= link_to "Jag har glömt mitt lösenord", new_password_reset_path %></p>
<% end %>
</div>
<div style="clear:both"></div>

</div>
</div>
