<div class="title_box"><h1>Inloggning</h1></div>
<div class="text_box">
	<h2>Facebook</h2>
	<p>Enklast är att logga in med ditt Facebook-konto. Vi kommer inte att ta del av någon information utöver ditt namn och din email-adress. Vi kommer att be Facebook att verifiera din identitet men ser inte ditt lösenord.</p><br/>
<p><%= link_to "Logga in med Facebook", "/auth/facebook" %></p>
</div>


<div class="text_box">
	<h2>UEFA-2012-konto</h2>
<p>Vi rekommenderar inloggning med Facebook men i det fall att du inte har Facebook kan du också skapa ett konto direkt hos oss och logga in med detta. (Notera att du loggar in med din email-adress som användarnamn.)</p><br/>

<div style="float:left">
<h2>Skapa konto här...</h2>
<%= form_tag "/auth/identity/register" do %>
  <% if @identity && @identity.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
      <% @identity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= label_tag :name, "Namn (för- och efternamn)" %><br>
    <%= text_field_tag :name, @identity.try(:name) %>
  </div>
  <div class="field">
    <%= label_tag :email, "E-mail" %><br>
    <%= text_field_tag :email, @identity.try(:email) %>
  </div>
  <div class="field">
    <%= label_tag :password, "Lösenord" %><br>
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= label_tag :password_confirmation, "Upprepa lösenord" %><br>
    <%= password_field_tag :password_confirmation %>
  </div>
  <div class="actions"><%= submit_tag "Skapa konto" %></div>
<% end %>
</div>

<div style="float:left">
<h2>Logga in här...</h2>
<%= form_tag "/auth/identity/callback" do %>
  <div class="field">
    <%= label_tag :auth_key, "E-mail" %><br>
    <%= text_field_tag :auth_key %>
  </div>
  <div class="field">
    <%= label_tag :password, "Lösenord" %><br>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Logga in" %></div>
<% end %>
</div>
<div style="clear:both"></div>
<p><%= link_to "Jag har glömt mitt lösenord", new_password_reset_path %></p>

</div>
