<div class="container">

  <div class="social">
    <h2>Logga in med</h2>
    <a href="/auth/facebook" class="button"><i class="fa fa-facebook-official"></i><span>Facebook</span></a>
    <a href="/auth/twitter" class="button"><i class="fa fa-twitter"></i><span>Twitter</span></a>
    <a href="/auth/twitter" class="button"><i class="fa fa-google-plus"></i><span>Google+</span></a>
    <p class="line-thru">eller...</p>
  </div>


  <div class="row">
    <div class="6u -3u">
      <h2 class="align-center">Logga in med e-mail</h2>

      <%= form_tag "/auth/identity/callback", :class => 'sign-up-form' do %>
        <%= label_tag :auth_key, "E-mail" %>
        <%= text_field_tag :auth_key %>
        <%= label_tag :password, "Lösenord" %>
        <%= password_field_tag :password %>

        <div class="submit-container">
          <%= submit_tag "Logga in" %>
          <p><%= link_to "Jag har glömt mitt lösenord", new_password_reset_path %></p>
        </div>
      <% end %>

    </div>
  </div>
</div>

