<div class="row">
  <div class="6u -3u">
    <%= form_for(@user, html: {class: "sign-up-form"}) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this group from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.label :name, "Namn" %>
      <%= f.text_field :name %>

      <% if current_user && (!current_user.email_verified || current_user.admin?) %>

        <%= f.label :email, "Mailadress" %>
        <%= f.text_field :email %>
      <% end %>

      <% if current_user && current_user.admin %>

        <%= f.label :admin, "Admin" %>
        <%= f.check_box :admin %>
        <%= f.label :cleared, "Cleared" %>
        <%= f.check_box :cleared %>
        <%= f.label :points, "Points" %>
        <%= f.number_field :points %>

      <% end %>

      <div class="submit-container">
        <%= f.submit "Spara" %>
      </div>
    <% end %>
  </div>
</div>