<header class="major">
  <h2>Topplista</h2>

  <ul class="sub-nav">

  <% if @predicted %><h2>Om resultatet i pågående matcher står sig...</h2><% end %>
	<% if current_user && current_user.admin? %>
		<span class="nav_item"><%= User.all.length %> anmälda</span>
		<li> <%= link_to "Visa godkända", users_path %> </li>
        <li> <%= link_to "Visa ej godkända", :controller => "users", :show => "unapproved" %></li>
	<% end %>
	<% if @first_game_started %>
		<li> <%= link_to "Visa alla grundtips", winners_tips_path %></li>
	<% end %>
	<% if !@predicted && @game_ongoing %><li><%= link_to "Om resultatet står sig", :controller => "users", :show => "predicted" %></li><% end %>
	<% if @predicted %><li><%= link_to "Aktuell ställning", users_path %></li><% end %>

  </ul>
</header>

<div class="container">

<table class="table">
  <tr class="table_header_row">
	<th>#</th>
    <th>Namn</th>
	<% if current_user && current_user.admin? %>
    <th>Email</th>
    <th>Godkänd</th>
    <th>Vin</th>
	<% end %>
    <th>Poäng</th>
	<% @latest_games.each do |g| %>
	<% if g.ongoing? %>
		<th><%= g.name %></th>
	<% else %>
		<th class="hidden-xs"><%= g.name %></th>
	<% end %>
	<% end %>
	<% if current_user && current_user.admin? %>
    <th></th>
    <th></th>
    <th></th>
	<% end %>
  </tr>

<% i = 1 %>
<% place = 1 %>
<% prev_pts = -1 %>

<% @users.each do |user| %>
  <tr class="table_row <%= if user == current_user then "me" end %>">
	<% if user.points != prev_pts then place = i end %>
	<% prev_pts = user.points%>
	<% i += 1 %>
	<td><%= place %></td>
    <td><%= link_to user.name, user %></td>
	<% if current_user && current_user.admin? %>
    <td><%= user.email %><%= !user.email_verified ? "*" : "" %></td>
    <td><%= user.cleared %></td>
    <td><%= user.wine %></td>
	<% end %>
	<% if @predicted %>
		<td class="right_adjust"><strong><%= user.predicted %> (<%= user.points %>)</strong></td>
	<% else %>
		<td class="right_adjust"><strong><%= user.points %></strong></td>
	<% end %>
	<% @latest_games.each do |g| %>
		<% if g.ongoing? %>
			<%= tag("td", {:class => "center_adjust table_game_ongoing"}, true) %>
		<% else %>
			<td class="center_adjust hidden-xs">
		<% end %>
		<% t = @latest_game_tip_hash[g.id][user.id] %>
		<%= t ? "#{t.home_score} - #{t.away_score}" : "-"%>
		</td>
	<% end %>
	<% if current_user && current_user.admin? %>
    	<td><%= link_to 'Redigera', edit_user_path(user) %></td>
		<% if !user.cleared? %>
			<td><%= link_to 'Godkänn', clear_user_path(user), method: :put %></td>
		<% end %>
		<% if !user.wine? %>
		    <td><%= link_to 'Vin lämnat', wine_user_path(user), method: :put %></td>
		<% end %>
	<% end %>
  </tr>
<% end %>
</table>
  <% if current_user && current_user.admin? %>
    <p>* Mail-adresser som inte har verifierats.</p>
  <% end %>
</div>