<div class="title_box"><h1><%= @user.name %></h1><h2>
  Totalt antal poäng: <%= @user.points %>
</h2>
<% if current_user && current_user.admin? %>
<span><%= @user.id %></span> | <span><%= link_to 'Radera användare', @user, confirm: 'Are you sure?', method: :delete %></span>
<% end %>
</div>

<div id="main_content">

<div class="text_box">
<h2>Grundtips</h2>

<% if @first_game_started || (@user == current_user) %>
	<% if @winners_tip %>
	<table>
		<tr>
			<td>Vinnande lag</td>
			<td class="loose_table_row"><%= Team.find_by_id(@winners_tip.winning_team).country %></td>
		</tr>
		<tr>
			<td>Finalist</td>
			<td class="loose_table_row"><%= Team.find_by_id(@winners_tip.runner_up).country %></td>
		</tr>
		<tr>
			<td>Skyttekung</td>
			<td class="loose_table_row">
			<% if @winners_tip.topscorer_player %>
				<%= @winners_tip.topscorer_player.name %>
			<% else %>
				<%= @winners_tip.goal_scorer %>
			<% end %>
			</td>
		</tr>
		<tr>
			<td>Första svenska målskytt</td>
			<td class="loose_table_row">
			<% if @winners_tip.firstswedish_player %>
				<%= @winners_tip.firstswedish_player.name %>
			<% else %>
				<%= @winners_tip.first_swedish_scorer %>
			<% end %>
			</td>
		</tr>
	</table>
		<% if current_user && current_user == @user && !@first_game_started && @user.cleared? %>
			<%= link_to "Ändra grundtips", edit_winners_tip_path(@winners_tip) %>
		<% end %>
	<% else %>
		<% if current_user && current_user == @user %>
		<p>Du har inte lämnat ditt grundtips. 
			<% if !@first_game_started && @user.cleared? %>
				Det kan du göra <%= link_to "här", new_winners_tip_path %>.</p>
			<% else %>
				<% if @first_game_started %>
					Det är tyvärr inte längre möjligt p g a att första matchen startat.</p>
				<% else %>
					Det kommer du att kunna göra när du blivit godkänd.</p>
				<% end %>
			<% end %>
		<% else %>
			<p><%= @user.name %> har inte lämnat in något grundtips.</p>
		<% end %>
	<% end %>
<% else%>
	<p>Informationen kommer att vara tillgängligt när första matchen startat.</p>
<% end %>
</div>

<div class="text_box">
<h2>Matchtips</h2>
<% if @tips.length > 0 %>
<table>
  <tr class="table_header_row">
    <th>Match</th>
    <th>Tips</th>
	<th>Resultat</th>
    <th>Poäng</th>
  </tr>

<% for tip in @tips %>
	<% if tip.game.started? || (current_user && (current_user == @user)) %>
  <tr class="table_row">
    <td><%= tip.game.name %></td>
    <td><%= tip.home_score %> - <%= tip.away_score %></td>
    <td><%= tip.game.home_score %> - <%= tip.game.away_score %></td>
    <td><%= tip.points %></td>
  </tr>
<% end %>
<% end %>
</table>
<% else %>
	<% if current_user && current_user == @user%>
		<p>Du har inte lämnat in några tips. Det kan du göra <%= link_to "här", games_path %>.</p>
	<% else %>
		<p><%= @user.name %> har inte lämnat in några matchtips.</p>
	<% end %>
<% end %>

</div>
</div>
