<header class="major">
  <h2><%= @user.name %></h2>
  <p>Poäng: <%= @user.points %></p>
  <% if current_user && current_user.admin? %>
    <span>User ID: <%= @user.id %></span> |
    <span><%= link_to 'Radera användare', @user, confirm: 'Are you sure?', method: :delete %></span>
  <% end %>
</header>

<div class="container">

    <% if !@user.email_verified && current_user && (current_user.id == @user.id || current_user.admin?) %>
      <div class="row resend_email">
        <p>Din mailadress (<%= @user.email %>) har inte bekräftats. Det behöver göras för att du ska kunna tippa. För att skicka mail med länk för att bekräfta igen - tryck på knappen.</p>
        <%= link_to 'Skicka nytt mail', send_email_verification_user_path(@user), method: :put, :class => "button" %>
        <p>Om du fortfarande inte fått något mail, titta om det fångats i ditt spam-filter. Har du fått flera mail är det viktigt
          att du använder länken i det senast skickade mailet. Annars blir det bananas!</p>
      </div>
    <% end %>

    <% if current_user && current_user.id == @user.id && @user.email == nil %>
      <p>Du har inte angett någon mailadress. Gör det <%= link_to "här!", edit_user_path(@user) %></p>
    <% end %>

  <div class="container">
    <h2>Grundtips</h2>

    <% if @first_game_started || (@user == current_user) %>
      <% if @winners_tip %>
        <table class="table">
          <tr>
            <td><strong>Vinnande lag</strong></td>
            <td class="loose_table_row"><%= Team.find_by_id(@winners_tip.winning_team).country %></td>
          </tr>
          <tr>
            <td><strong>Finalist</strong></td>
            <td class="loose_table_row"><%= Team.find_by_id(@winners_tip.runner_up).country %></td>
          </tr>
          <tr>
            <td><strong>Skyttekung</strong></td>
            <td class="loose_table_row">
              <% if @winners_tip.topscorer_player %>
                <%= @winners_tip.topscorer_player.name %>
              <% else %>
                <%= @winners_tip.goal_scorer %>
              <% end %>
            </td>
          </tr>
		      <tr>
			      <td><strong>Första svenska målskytt</strong></td>
			      <td class="loose_table_row">
            <% if @winners_tip.firstswedish_player %>
				      <%= @winners_tip.firstswedish_player.name %>
            <% else %>
				      <%= @winners_tip.first_swedish_scorer %>
            <% end %>
			    </td>
		    </tr>

        </table>
        <% if current_user && current_user == @user && !@first_game_started && @user.cleared? %>
          <%= link_to "Ändra grundtips", edit_winners_tip_path(@winners_tip) %>
        <% end %>
      <% else %>
        <% if current_user && current_user == @user %>
          <p>Du har inte lämnat ditt grundtips.
            <% if !@first_game_started && @user.cleared? %>
              Det kan du göra <%= link_to "här", new_winners_tip_path %>.</p>
            <% else %>
              <% if @first_game_started %>
                Det är tyvärr inte längre möjligt p g a att första matchen startat.</p>
              <% else %>
                Det kommer du att kunna göra när du blivit godkänd.</p>
              <% end %>
            <% end %>
        <% else %>
          <p><%= @user.name %> har inte lämnat in något grundtips.</p>
        <% end %>
      <% end %>
    <% else %>
      <p>Informationen kommer att vara tillgängligt när första matchen startat.</p>
    <% end %>
  </div>

  <div class="container">
    <h2>Matchtips</h2>
    <% if @tips.length > 0 %>
      <table class="table">
        <tr class="table_header_row">
          <th>Match</th>
          <th>Tips</th>
          <th>Resultat</th>
          <th>Poäng</th>
        </tr>

        <% for tip in @tips %>
          <% if tip.game.started? || (current_user && (current_user == @user)) %>
            <tr class="table_row">
              <td><%= tip.game.name %></td>
              <td><%= tip.home_score %> - <%= tip.away_score %></td>
              <td><%= tip.game.home_score %> - <%= tip.game.away_score %></td>
              <td><%= tip.points %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    <% else %>
      <% if current_user && current_user == @user %>
        <% if @user.cleared %>
          <p>Du har inte lämnat in några tips. Det kan du göra <%= link_to "här", games_path %>.</p>
        <% else %>
          <p>Du har inte lämnat in några tips. Det kommer du att kunna göra <%= link_to "här", games_path %>, efter att
            du blivit godkänd.</p>
        <% end %>
      <% else %>
        <p><%= @user.name %> har inte lämnat in några matchtips.</p>
      <% end %>
    <% end %>

  </div>
</div>
