<div class="6u -3u">
<%= form_for(@winners_tip) do |f| %>
  <% if @winners_tip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@winners_tip.errors.count, "error") %> prohibited this winners_tip from being saved:</h2>

      <ul>
      <% @winners_tip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


	<% teams = @teams.collect {|s| [s.country, s.id]} %>
    <% players = @players.collect {|s| [s.name, s.id]} %>
	<% if @winners_tip.key? %>
		<h1>Detta är facit</h1>
		<% teams.insert(0, ["Inte avgjort", 0]) %>
		<% players.insert(0, ["Inte avgjort", 0]) %>
	<% end %>

  <div class="field">
    Vinnande lag<br />
	<%= f.select :winning_team_id, teams %>
  </div>

  <div class="field">
    Finalist<br />
    <%= f.select :runner_up_id, teams %>
  </div>

  <div class="field">
    Skyttekung<br />
    <%= f.text_field :goal_scorer %>
	<!--<%= f.select :topscorer_player_id, players %>	-->
  </div>

  <div class="field">
    Förste svenske målskytt<br/>
    <%= f.text_field :first_swedish_scorer %>
	<!--<%= f.select :firstswedish_player_id, players %>-->
  </div>

  <div class="actions">
    <%= f.submit "Spara Grundtips" %>
  </div>
<% end %>
</div>
