<div class="text_box">
<p>
  <b>Winning team:</b>
  <%= Team.find_by_id(@winners_tip.winning_team).country %>
</p>

<p>
  <b>Runner up:</b>
  <%= Team.find_by_id(@winners_tip.runner_up).country %>
</p>

<p>
  <b>Goal scorer:</b>
	<% if @winners_tip.topscorer_player %>
		<%= @winners_tip.topscorer_player.name %>
	<% else %>
		<%= @winners_tip.goal_scorer %>
	<% end %>
</p>

<!--
<p>
  <b>First swedish scorer:</b>
	<% if @winners_tip.firstswedish_player %>
		<%= @winners_tip.firstswedish_player.name %>
	<% else %>
		<%= @winners_tip.first_swedish_scorer %>
	<% end %>
</p>
-->
