<div class="container">
  <div class="game_container" data-time="<%= @last_comment.updated_at.to_i %>">

    <% @games.each do |game| %>

      <div class="<%= "box game_box #{game.ongoing? ? 'game_ongoing' : ''} #{game.final? ? 'game_final' : ''}" %>" id="<%= game.id %>" data-time="<%= game.updated_at.to_i %>">

        <%= render :partial => 'gameboxcontent', :locals => {:game => game} %>

      </div>
      <!-- Gamebox -->

    <% end %>

  </div>
</div> <!-- container -->
