<div id="nav">
    <span class="nav_item">
    <%= link_to "Matcherna", games_path %>
    </span> |
    <span class="nav_item">
    <%= link_to "Topplistan", users_path %>
    </span>
	<% if current_user %>
	| <span class="nav_item">
	<%= link_to "Mina tips", current_user %>
	</span>
	<% end %>
	<span class="nav_instructions">
        <%= render 'authentication' %> |
		<span class="nav_item">
		<%= link_to "?", "/instructions" %>
		</span>
	</span>
	<div style="clear:both"/>
</div>
