<!DOCTYPE html>
<html>
<head>
  <title>Uefa</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=500px", initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
</head>



<body>
    <div id="header">
        <%= render 'authentication' %>
        <div id="site_name">
            <div id="site_title">
                <h1>UEFA 2012</h1>
            </div>
        </div>
		<%= render 'navigation' %>
		<%= render 'notifications' %>
    </div>


<%= yield %>

</body>
</html>
