<!DOCTYPE HTML>
<!--
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
  <title>EM 2016</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <!--[if lte IE 8]>
  <script src="/assets/html5shiv.js"></script><![endif]-->
  <script src="/assets/jquery.min.js"></script>
  <script src="/assets/skel.js"></script>
  <script src="/assets/skel-layers.js"></script>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
  <%= javascript_include_tag "application" %>
  <noscript>
    <link rel="stylesheet" href="assets/skel.css"/>
    <link rel="stylesheet" href="assets/style.css"/>
    <link rel="stylesheet" href="assets/style-xlarge.css"/>
  </noscript>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- Rails application css -->
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>

</head>
<body id="top">

<!-- Header -->
<header id="header" class="skel-layers-fixed">
  <h1><%= link_to "EM 2016", instructions_path %></h1>
  <nav id="nav">
    <ul>
      <li><a href="/games">Matcher</a></li>
      <li><a href="/users">Topplista</a></li>
      <% if current_user %>
        <li><%= link_to current_user.name, current_user %></li>
        <li><%= link_to "Logga ut", logout_path, :class => "button" %></li>
      <% end %>
    </ul>
  </nav>
</header>

<!-- Flash notices -->
<section class="flash-notices">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</section>

<!-- Banner -->
<% if @show_banner %>
  <% if content_for? :banner %>
    <%= yield :banner %>
  <% else %>
    <%= render :partial => 'banner' %>
  <% end %>
<% end %>

<section class="wrapper">
  <%= yield %>
</section>


<!-- Footer -->
<footer id="footer">
  <div class="container">
    <ul class="copyright">
      <li>&copy; IFK FF Media. All rights reserved.</li>
      <li>Image: <a href="http://unsplash.com">Unsplash</a></li>
    </ul>
  </div>
</footer>

</body>
</html>